h1{
Color:red;
Text-align:center;
}
*{
font-size:15px;
}

Body{background-color: white;}

div{
Width:300px;
height:300px;
Text-align:center;
Line-height:250px;
Border: 3px solid black;
Margin: auto;
margin-bottom: 50px;
}
.Sasha{
background-color: green;
}
.David{
background-color:yellow;
}
.Vlad{
background-color:blue;
}
