h1{
Color:red;
Text-align:center;
}
*{
font-size:15px;
}

Body{background-color: white}
.Sasha{
background-color: green;
Width:330px;
height:330px;
Text-align:center;
Line-height:250px;
Border: 3px solid black;
Margin: auto;
margin-bottom: 50px;
border-radius: 50px
}
.David{
background-color:yellow;
Width:330px;
height:330px;
Text-align:center;
Line-height:250px;
Border: 3px solid black;
Margin: auto;
margin-bottom: 50px;
border-radius: 50px
}
.Vlad{
background-color:blue;
Width:330px;
height:330px;
Text-align:center;
Line-height:250px;
Border: 3px solid black;
Margin: auto;
margin-bottom: 50px;
border-radius: 50px
}
.gaybutton{
Width:200px;
Height:50px;
Background-color:blue;
Margin: 2px solid black;
Border-radius:50%;
Position:fixed;
Top:900px;
Transition: background-color 3s;
Text-align:center;
Font-size: 50px;
}
.gaybutton:hover{
Background-color:yellow;

}
